<%- include('./header.ejs') %>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Uid</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Orders</th>
            </tr>
          </thead>
          <tbody>
            <% for( let index = 0; index < customers.length; index++ ) { %>
                <tr>
                    <td><a href="/customers/<%= customers[index].uid %>"><%= customers[index].name  %></a></td>
                    <td><%= customers[index].uid  %></td>
                    <td><%= customers[index].phone  %></td>
                    <td><%= customers[index].email  %></td>
                    <td><%= customers[index].orders  %></td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<%- include('./footer.ejs') %>
